---
title: Home 
---


{% include header.html %}

  <div class="row">
      <div class="span11">
        <h2>rOpenSci Posts ({{ site.posts | size }} entries) <a href="{{ site.url }}/atom.xml"><img src="/assets/img/icon-rss.png" alt="feed"></a></h2>

        <div class="span2">
          rOpenSci is a collaborative effort to develop R-based tools for facilitating Open Science. Learn more and follow us on twitter and Google+ for updates.
        </div>

        <div class="span8">


          <ul class="posts">
            {% for post in site.posts %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
              <span>{{ post.subtitle }}</span></li>
              <br />
              {{ post.content }}
            {% endfor %}
          </ul>


        </div>
      </div> <!-- end span10 -->
    </div> <!-- end row -->
{% include footer.html %}

