---
title: Home 
---


{% include header.html %}

  <div class="row">
      <div class="span10">
        <h2>rOpenSci Posts ({{ site.posts | size }} entries) <a href="{{ site.url }}/atom.xml"><img src="/assets/img/icon-rss.png" alt="feed"></a></h2>

        <div class="span2">
          rOpenSci is a collaborative effort to develop R-based tools for facilitating Open Science. Learn more and follow us on twitter and Google+ for updates.
        </div>

        <div class="span8">
          {% for post in site.posts limit:1  %}
            <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
            <p><span>{{ post.subtitle }}</span></p>
            <span> &raquo; {{ post.date | date_to_string }}</span>
              {{ post  }}
            <br>
            <br>
            {% endfor %}
        </div>
      </div> <!-- end span10 -->
    </div> <!-- end row -->
{% include footer.html %}

