      <footer class="footer">
      <div class="row">
        <div class="span11">
      <hr class="soften">
          <div class="span2">
           <form class="search" method="get" action="http://google.com/search">
             <input type="hidden" name="q" value="site:ropensci.org">
             <input type="text" class="input-medium search-query">
             <button type="submit" class="btn">Search</button>
           </form>
          </div>
          <div class="span2">
            <h4>Network</h4>
            <ul class="unstyled">
              <li><a href="mailto:info@ropensci.org">info@ropensci.org</a></li>
              <li><a href="{{site.url}}/get-involved.html">Get Involved</a></li>
            </ul>
          </div>
          <div class="span3">
            <h4>Updates</h4>
            {% include followbuttons.html %}
          </div>
          <div class="span2">
            <h4>Contact</h4>
           <ul class="unstyled">
             <li> </li>
             <li> </li>
           </ul>
          </div>
        </div> <!-- end span11 -->
      </div> <!-- end row -->
      <div class="row">
        <div class="span11">
          <hr class="soften">

          <div class="span2">
            <p>
              <a href="{{ site.url }}/atom.xml"><img src="/assets/img/icon-rss.png" alt="feed"></a>
              <a href="https://twitter.com/ropensci"><img src="{{site.url}}/assets/img/twitter.png" alt="twitter"> </a> 
              <a href="https://github.com/ropensci"><img src="{{site.url}}/assets/img/icon-github.png" alt="github"></a> 
              <a href="mailto:ropensci@ropensci.com"><img src="{{site.url}}/assets/img/contact.png" alt="contact"></i></a>
            </p>
            <br />
          </div>
          <div class="span2">
            <br />
          </div>
          <div class="span3">
            <br />
          </div>
          <div class="span2">
           <p><a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="http://i.creativecommons.org/l/zero/1.0/88x31.png" alt="CC0" style="float:right"></a></p>
            <br />
          </div>

        </div>
      </div>
      </footer>
    </div><!-- /container -->
    
    {% include javascript.html %}
    {% include analytics.html %}
  </body>
</html>
