  <!-- Navbar
    ================================================== -->
  <div class="row">
    <div class="span10 offset1">
      <div class="span2">
        <a href="{{ site.url }}/index.html"><img src="/assets/img/logo.png"></a>
      </div>
      <div class="span2">
        <h3> About </h3>
        <ul class="unstyled">
          <li><a href="{{ site.url }}/project-overview.html">Project Overview</a></li>
          <li><a href="{{ site.url }}/advisors.html">Advisors</a></li>
          <li><a href="{{ site.url }}/developers.html">Developers</a></li>
        </ul>
      </div>
       <div class="span2">
        <h3> Users </h3>
        <ul class="unstyled">
          <li><a href="{{ site.url }}/installation.html">Installation</a></li>
          <li><a href="{{ site.url }}/tutorials.html">Tutorials</a></li>
          <li><a href="{{ site.url }}/packages.html">Packages</a></li>
        </ul>
      </div>
      <div class="span2">
        <h3> Developers </h3>
        <ul class="unstyled">
          <li><a href="https://github.com/ropensci/rOpenSci/wiki/rOpenSci-Workflow-Document">Developer Guidelines</a></li>
          <li><a href="{{site.url}}/get-involved.html">Get Involved</a></li>
        </ul>
      </div>
    </div> <!-- end div span10 -->
  </div> <!-- end div row -->


